.modimal10 {
  position: relative;
  letter-spacing: 0.1em;
  line-height: 12.5px;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  width: 144.5px;
  flex-shrink: 0;
}
.subtract-icon10 {
  position: relative;
  width: 10px;
  height: 10px;
  display: none;
}
.modimal-parent8 {
  flex-direction: row;
  align-items: flex-end;
  gap: var(--gap-12xs);
}
.logo10,
.modimal-parent8,
.women-clothing10 {
  display: flex;
  justify-content: center;
}
.women-clothing10 {
  position: relative;
  font-size: var(--font-size-3xs);
  letter-spacing: 0.1em;
  line-height: 12.5px;
  align-items: flex-end;
  width: 95px;
}
.logo10 {
  position: absolute;
  top: calc(50% - 498.5px);
  left: calc(50% - 102px);
  height: 46px;
  overflow: hidden;
  flex-direction: column;
  align-items: center;
  gap: var(--gap-5xs);
  text-align: center;
  color: var(--white);
  font-family: var(--font-league-spartan);
}
.frame-item,
.scroll-1-icon1 {
  align-self: stretch;
  position: relative;
  overflow: hidden;
  max-height: 100%;
}
.scroll-1-icon1 {
  width: 16px;
  flex-shrink: 0;
}
.frame-item {
  flex: 1;
  max-width: 100%;
  object-fit: cover;
}
.scroll-1-group,
.tovar-2-inner {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.scroll-1-group {
  align-self: stretch;
  flex-direction: row;
  gap: var(--gap-base);
}
.tovar-2-inner {
  position: absolute;
  top: 39px;
  left: 4px;
  width: 600px;
  height: 512px;
  flex-direction: column;
}
.close1 {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  position: absolute;
  top: 483px;
  left: 1202px;
  font-size: var(--bodylg-size);
  line-height: 180%;
  text-transform: capitalize;
  font-weight: 600;
  font-family: var(--bodyxs);
  color: var(--neutral-gray0c0c0c);
  text-align: left;
  display: inline-block;
  width: 52px;
  height: 29px;
}
.is-a-trendy,
.sweatshirt-karagandy {
  align-self: stretch;
  position: relative;
  text-transform: capitalize;
}
.sweatshirt-karagandy {
  line-height: 140%;
  font-weight: 600;
}
.is-a-trendy {
  font-size: var(--bodylg-size);
  line-height: 180%;
  display: inline-block;
  height: 64px;
  flex-shrink: 0;
}
.sweatshirt-karagandy-parent {
  position: absolute;
  top: 62px;
  left: 654px;
  width: 600px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-13xl);
}
.colors28 {
  position: relative;
  line-height: 180%;
  text-transform: capitalize;
  display: inline-block;
  width: 100px;
}
.color85 {
  position: relative;
  border-radius: var(--br-5xl);
  background-color: #5589d4;
  width: 24px;
  height: 24px;
  overflow: hidden;
  flex-shrink: 0;
}
.color-container,
.colors-group {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.colors-group {
  position: absolute;
  top: 227px;
  left: 654px;
  width: 600px;
  flex-direction: column;
  gap: var(--gap-xs);
  font-size: var(--bodymd-size);
}
.add-icon22 {
  position: relative;
  width: 24px;
  height: 24px;
  overflow: hidden;
  flex-shrink: 0;
  display: none;
}
.add-to-cart11 {
  position: relative;
  line-height: 24px;
  text-transform: capitalize;
}
.buttoncomp11 {
  width: 128px;
  height: 40px;
  overflow: hidden;
  flex-shrink: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 0 var(--padding-base);
  box-sizing: border-box;
}
.buttoncomp-wrapper3,
.buttoncomp12 {
  align-self: stretch;
  height: 80px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
}
.buttoncomp12 {
  background-color: var(--primary-primary-600);
  height: 40px;
  overflow: hidden;
  flex-shrink: 0;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-base);
  box-sizing: border-box;
  gap: var(--gap-9xs);
  color: var(--white);
}
.frame-parent32 {
  position: absolute;
  top: 295px;
  left: 654px;
  width: 600px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-base);
  text-align: center;
  font-size: var(--bodysm-size);
  color: var(--neutral-gray868686);
}
.size3 {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  line-height: 140%;
  text-transform: capitalize;
  display: inline-block;
}
.sort-text1 {
  flex: 1;
  position: relative;
  background-color: var(--white);
  height: 25px;
}
.sort-text-group {
  flex: 1;
  height: 40px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: var(--padding-5xs) var(--padding-base);
  box-sizing: border-box;
  gap: var(--gap-5xs);
}
.sort-sub-menu1 {
  flex: 1;
  height: 1px;
  display: none;
}
.size2 {
  position: absolute;
  top: 335px;
  left: 654px;
  border: 1px solid var(--neutral-graydfdfdf);
  box-sizing: border-box;
  width: 600px;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  font-size: var(--bodymd-size);
}
.size2,
.tovar-2,
.tovar-2-child {
  background-color: var(--white);
}
.tovar-2-child {
  position: absolute;
  top: 37px;
  left: -18px;
  width: 53px;
  height: 513px;
}
.tovar-2 {
  position: relative;
  box-shadow: 0 4px 40px rgba(0, 0, 0, 0.25);
  width: 1332px;
  height: 585px;
  overflow: hidden;
  max-width: 90%;
  max-height: 90%;
  text-align: left;
  font-size: var(--h3-size);
  color: var(--neutral-gray0c0c0c);
  font-family: var(--bodyxs);
}
