.tailored-stretch9,
.turn-it-up9 {
  position: relative;
  font-size: var(--bodymd-size);
  text-transform: capitalize;
  font-family: var(--bodyxs);
  color: var(--neutral-gray0c0c0c);
  text-align: left;
}
.tailored-stretch9 {
  align-self: stretch;
  line-height: 140%;
}
.turn-it-up9 {
  line-height: 180%;
}
.color27,
.color28,
.color29 {
  position: relative;
  border-radius: var(--br-5xl);
  width: 24px;
  height: 24px;
  overflow: hidden;
  flex-shrink: 0;
}
.color27 {
  background-color: #173348;
}
.color28,
.color29 {
  background-color: var(--color-lightskyblue);
  display: none;
}
.color29 {
  background-color: var(--primary);
}
.colors9,
.tailored-stretch-parent6 {
  display: flex;
  justify-content: flex-start;
  gap: var(--gap-5xs);
}
.colors9 {
  align-self: stretch;
  flex-direction: row;
  align-items: flex-end;
}
.tailored-stretch-parent6 {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  flex: 1;
  flex-direction: column;
  align-items: flex-start;
}
.b9 {
  position: absolute;
  top: 5px;
  right: 7px;
  line-height: 140%;
  text-transform: capitalize;
}
.wrapper7 {
  position: relative;
  width: 187px;
  height: 32px;
}
.frame-parent13,
.product-card-child6 {
  position: absolute;
  width: 100%;
  right: 0;
  left: 0;
}
.frame-parent13 {
  top: 438px;
  height: 102px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 0 var(--padding-5xs);
  box-sizing: border-box;
}
.product-card-child6 {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  top: 0;
  height: 438px;
  background-image: url(./public/rectangle123486@2x.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
}
.lable13 {
  flex: 1;
  position: relative;
  line-height: 180%;
  text-transform: capitalize;
}
.chips-component-19,
.lable-wrapper11 {
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.lable-wrapper11 {
  flex: 1;
  display: flex;
}
.chips-component-19 {
  position: absolute;
  top: 24px;
  left: 24px;
  background-color: var(--white);
  width: 86px;
  height: 32px;
  display: none;
  padding: 0 var(--padding-5xs);
  box-sizing: border-box;
  text-align: center;
  font-size: var(--bodysm-size);
}
.header-favorite-icon15 {
  position: absolute;
  top: 24px;
  right: 24px;
  width: 24px;
  height: 24px;
}
.product-card9 {
  position: absolute;
  top: 0;
  left: 0;
  width: 392px;
  height: 540px;
}
.tailored-stretch10,
.turn-it-up10 {
  position: relative;
  font-size: var(--bodymd-size);
  line-height: 140%;
  text-transform: capitalize;
  font-family: var(--bodyxs);
  color: var(--neutral-gray0c0c0c);
  text-align: left;
}
.turn-it-up10 {
  align-self: stretch;
  line-height: 180%;
}
.color30 {
  background-color: var(--color-olive);
  display: none;
}
.color30,
.color31,
.color32 {
  position: relative;
  border-radius: var(--br-5xl);
  width: 24px;
  height: 24px;
  overflow: hidden;
  flex-shrink: 0;
}
.color31 {
  background-color: #474f52;
}
.color32 {
  background-color: var(--neutral-gray0c0c0c);
  display: none;
}
.tailored-stretch-parent7 {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  flex: 1;
  height: 91px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-5xs);
}
.b10 {
  position: absolute;
  top: 5px;
  right: 5px;
  line-height: 140%;
  text-transform: capitalize;
}
.product-card-child7 {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  position: absolute;
  width: 100%;
  top: 0;
  right: 0;
  left: 0;
  height: 438px;
  background-image: url(./public/rectangle123487@2x.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
}
.product-card10 {
  position: absolute;
  top: 0;
  left: 416px;
  width: 392px;
  height: 540px;
}
.color33,
.color35 {
  position: relative;
  border-radius: var(--br-5xl);
  width: 24px;
  height: 24px;
  overflow: hidden;
  flex-shrink: 0;
}
.color33 {
  background-color: var(--color-plum);
  display: none;
}
.color35 {
  background-color: #eead2c;
}
.b11 {
  position: absolute;
  top: 5px;
  right: -3px;
  line-height: 140%;
  text-transform: capitalize;
}
.product-card-child8 {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  position: absolute;
  width: 100%;
  top: 0;
  right: 0;
  left: 0;
  height: 438px;
  background-image: url(./public/rectangle123488@2x.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
}
.color36,
.product-card11 {
  position: absolute;
  top: 0;
  left: 832px;
  width: 392px;
  height: 540px;
}
.color36 {
  top: 511px;
  left: 876px;
  border-radius: var(--br-5xl);
  background-color: #d4d4d2;
  width: 24px;
  height: 24px;
  overflow: hidden;
}
.best-seller-cards3 {
  position: absolute;
  top: 269px;
  left: calc(50% - 612px);
  width: 1224px;
  height: 546px;
}
.color37 {
  position: relative;
  border-radius: var(--br-5xl);
  background-color: #12365e;
  width: 24px;
  height: 24px;
  overflow: hidden;
  flex-shrink: 0;
}
.product-card-child9 {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  position: absolute;
  width: 100%;
  top: 0;
  right: 0;
  left: 0;
  height: 438px;
  background-image: url(./public/rectangle123489@2x.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
}
.color41 {
  position: relative;
  border-radius: var(--br-5xl);
  background-color: #434748;
  width: 24px;
  height: 24px;
  overflow: hidden;
  flex-shrink: 0;
}
.product-card-child10 {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  position: absolute;
  width: 100%;
  top: 0;
  right: 0;
  left: 0;
  height: 438px;
  background-image: url(./public/rectangle1234810@2x.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
}
.color45 {
  position: relative;
  border-radius: var(--br-5xl);
  background-color: #1e2e34;
  width: 24px;
  height: 24px;
  overflow: hidden;
  flex-shrink: 0;
}
.product-card-child11 {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  position: absolute;
  width: 100%;
  top: 0;
  right: 0;
  left: 0;
  height: 438px;
  background-image: url(./public/rectangle1234811@2x.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
}
.best-seller-cards4 {
  position: absolute;
  top: 913px;
  left: calc(50% - 620px);
  width: 1224px;
  height: 546px;
}
.text2 {
  position: absolute;
  top: -18px;
  left: 598px;
  line-height: 180%;
  text-transform: capitalize;
}
.hgreen-line2 {
  position: absolute;
  width: 100%;
  top: 0;
  right: 0;
  left: 0;
  background-color: var(--primary-primary-600);
  height: 30px;
  overflow: hidden;
}
.enjoy-free-shipping2 {
  position: absolute;
  top: calc(50% - 47px);
  left: calc(50% - 84px);
  font-size: var(--bodyxs-size);
  letter-spacing: 0.8px;
  font-weight: 600;
}
.collection11 {
  position: absolute;
  top: 0;
  left: 0;
  line-height: 180%;
  text-transform: capitalize;
  cursor: pointer;
}
.header-footer-texts10 {
  position: relative;
  width: 104px;
  height: 32px;
  display: none;
}
.collection12 {
  position: absolute;
  top: 0;
  left: 6.73%;
  line-height: 180%;
  text-transform: capitalize;
  cursor: pointer;
}
.header-footer-texts11 {
  position: relative;
  width: 104px;
  height: 32px;
}
.collection13,
.collection14,
.collection15 {
  position: absolute;
  top: 0;
  line-height: 180%;
  text-transform: capitalize;
}
.collection13 {
  left: 4.81%;
  cursor: pointer;
}
.collection14,
.collection15 {
  left: 11.54%;
}
.collection15 {
  left: 17.19%;
  cursor: pointer;
}
.header-footer-texts14 {
  position: relative;
  width: 128px;
  height: 32px;
}
.header-footer-texts-container {
  position: absolute;
  top: calc(50% - 1px);
  left: calc(50% - 324px);
  width: 648px;
  display: none;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: var(--gap-5xl);
  font-size: var(--bodylg-size);
  color: var(--neutral-gray404040);
}
.header-search-icon2,
.person-4-icon3 {
  position: relative;
  width: 24px;
  height: 24px;
}
.header-search-icon2 {
  display: none;
}
.person-4-icon3 {
  overflow: hidden;
  flex-shrink: 0;
}
.header-profile-icon2 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.header-favorite-icon21 {
  position: relative;
  width: 24px;
  height: 24px;
}
.header-bag-icon2 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
}
.header-search-icon-container {
  position: absolute;
  top: calc(50% - 1px);
  left: calc(50% + 428px);
  width: 184px;
  height: 32px;
  display: none;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: var(--gap-5xl);
}
.modimal3 {
  position: relative;
  letter-spacing: 0.1em;
  line-height: 12.5px;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  width: 144.5px;
  flex-shrink: 0;
}
.subtract-icon3 {
  position: relative;
  width: 10px;
  height: 10px;
  display: none;
}
.modimal-parent1,
.women-clothing3 {
  display: flex;
  align-items: flex-end;
  justify-content: center;
}
.modimal-parent1 {
  flex-direction: row;
  gap: var(--gap-12xs);
}
.women-clothing3 {
  position: relative;
  font-size: var(--font-size-3xs);
  letter-spacing: 0.1em;
  line-height: 12.5px;
  width: 95px;
}
.logo3 {
  position: absolute;
  top: calc(50% - 9px);
  left: calc(50% - 612px);
  width: 184px;
  height: 46px;
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: var(--gap-5xs);
  font-size: var(--h3-size);
  color: var(--neutral-gray404040);
  font-family: var(--font-league-spartan);
}
.header2,
.logo4 {
  position: absolute;
  text-align: center;
}
.header2 {
  width: 100%;
  top: 0;
  right: 0;
  left: 0;
  background-color: var(--white);
  height: 110px;
  overflow: hidden;
  color: var(--white);
}
.logo4 {
  top: calc(50% - 737.5px);
  left: calc(50% - 99px);
  width: 184px;
  height: 46px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: var(--gap-5xs);
  font-size: var(--h3-size);
  color: var(--neutral-gray404040);
  font-family: var(--font-league-spartan);
}
.pants-child {
  position: absolute;
  top: 109.5px;
  left: -0.5px;
  border-top: 1px solid var(--color-black);
  box-sizing: border-box;
  width: 1441px;
  height: 1px;
}
.pants1 {
  position: absolute;
  top: 188px;
  left: 108px;
  font-size: var(--h3-size);
  line-height: 140%;
  text-transform: capitalize;
  font-weight: 600;
  display: inline-block;
  width: 600px;
}
.pants-item {
  position: absolute;
  top: 143.6px;
  left: 107px;
  width: 25px;
  height: 14.7px;
  cursor: pointer;
}
.pants {
  position: relative;
  background-color: var(--white);
  width: 100%;
  height: 1567px;
  overflow: hidden;
  text-align: left;
  font-size: var(--bodymd-size);
  color: var(--neutral-gray0c0c0c);
  font-family: var(--bodyxs);
}
