<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="initial-scale=1, width=device-width" />
    <title>{%block %}Daerbe Clothing Store{%endblock%}</title>
    <link rel="stylesheet" href="../static/global.css" />
    <link rel="stylesheet" href="../static/index.css" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=League Spartan:wght@400;700&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Bebas Neue:wght@400&display=swap"
    />
  </head>
  <body>
    <div class="main">
      <div class="follow-us-daerbe-style" data-scroll-to="followUsDaerbeStyle">
        Follow us @daerbe_style
      </div>
      <div class="best-sellers" data-scroll-to="bestSellersText">
        Best Sellers
      </div>
      <div class="collection" data-scroll-to="collectionText">Collection</div>

      <div class="models" data-scroll-to="modelsText">Models</div>
      <div class="header">
        <div class="hgreen-line">
          <div class="text"></div>
        </div>
        <div class="enjoy-free-shipping">choose style - choose us</div>
        <div class="header-footer-texts-parent">
          <div class="header-footer-texts">
            <div class="collection1" id="collectionText1">Best sellers</div>
          </div>
          <div class="header-footer-texts">
            <div class="collection2" id="collectionText2">Collection</div>
          </div>
          <div class="header-footer-texts">
            <div class="collection3" id="collectionText3">Modiweek</div>
          </div>
          <div class="header-footer-texts3">
            <div class="collection4">Plus Size</div>
          </div>
          <div class="header-footer-texts4">
            <div class="collection5" id="collectionText5">about us</div>
          </div>
        </div>
        <div class="header-search-icon-parent">
          <img
            class="header-search-icon"
            alt=""
            src="./public/header-search-icon.svg"
          />

          <div class="header-profile-icon">
            <button class="shopping-bag" id="person4">
              <img class="vector-icon" alt="" src="./public/vector.svg" />
            </button>
          </div>
          <div class="header-favorite-icon">
            <button class="favorite" id="favorite">
              <img class="vector-icon1" alt="" src="./public/vector1.svg" />
            </button>
          </div>
          <div class="header-bag-icon">
            <button class="shopping-bag" id="shoppingBag">
              <img class="vector-icon2" alt="" src="./public/vector2.svg" />
            </button>
          </div>
        </div>
        <div class="logo">
          <div class="modimal-parent">
            <b class="modimal">Daerbe</b>
            <img class="subtract-icon" alt="" src="./public/subtract.svg" />
          </div>
          <div class="women-clothing">clothing store</div>
        </div>
      </div>
      <div class="best-seller-cards">
        <div class="product-card" id="productCardContainer">
          <div class="frame-parent">
            <button class="tailored-stretch-parent">
              <b class="tailored-stretch">Hoodie “EBT”</b>
              <div class="turn-it-up">ekibastuz style</div>
              <div class="colors">
                <div class="color"></div>
                <div class="color1"></div>
                <div class="color2"></div>
              </div>
            </button>
            <div class="wrapper">
              <b class="b">$70</b>
            </div>
          </div>
          <button class="product-card-child"></button>
          <div class="chips-component-1">
            <div class="lable-wrapper">
              <div class="lable">new</div>
            </div>
          </div>
          <img
            class="header-favorite-icon1"
            alt=""
            src="./public/header-favorite-icon1.svg"
          />
        </div>
        <div class="product-card1" id="productCardContainer1">
          <div class="frame-parent">
            <button class="tailored-stretch-group">
              <b class="tailored-stretch1">Sweatshirt “Karagandy”</b>
              <div class="turn-it-up1">Look hot</div>
              <div class="colors">
                <div class="color3"></div>
                <div class="color4"></div>
                <div class="color5"></div>
              </div>
            </button>
            <div class="wrapper">
              <b class="b1">$40</b>
            </div>
          </div>
          <button class="product-card-item"></button>
          <div class="chips-component-1">
            <div class="lable-wrapper">
              <div class="lable">new</div>
            </div>
          </div>
          <img
            class="header-favorite-icon1"
            alt=""
            src="./public/header-favorite-icon1.svg"
          />
        </div>
        <div class="product-card2" id="productCardContainer2">
          <div class="frame-parent">
            <button class="tailored-stretch-parent">
              <b class="tailored-stretch">sweater “Shymkent”</b>
              <div class="turn-it-up1">Fits anyone</div>
              <div class="colors">
                <div class="color6"></div>
                <div class="color3"></div>
                <div class="color8"></div>
              </div>
            </button>
            <div class="wrapper">
              <b class="b2">$270</b>
            </div>
          </div>
          <button class="product-card-inner"></button>
          <div class="chips-component-1">
            <div class="lable-wrapper">
              <div class="lable">new</div>
            </div>
          </div>
          <img
            class="header-favorite-icon1"
            alt=""
            src="./public/header-favorite-icon1.svg"
          />
        </div>
      </div>
      <div class="hero">
        <div class="your-style-tells">
          Your style tells a lot about yourself
        </div>
      </div>
      <div class="follow-us">
        <img
          class="follow-us-child"
          alt=""
          src="./public/frame-427319383@2x.png"
        />

        <div class="frame-div">
          <div class="frame-parent1">
            <div class="buttoncomp-wrapper">
              <div class="buttoncomp">
                <img class="add-icon" alt="" src="./public/add.svg" />

                <div class="add-to-cart">Shop Now</div>
                <img class="add-icon1" alt="" src="./public/add.svg" />
              </div>
            </div>
            <div class="buttoncomp-container">
              <div class="buttoncomp">
                <img class="add-icon" alt="" src="./public/add.svg" />

                <div class="add-to-cart">Shop Now</div>
                <img class="add-icon1" alt="" src="./public/add.svg" />
              </div>
            </div>
          </div>
          <div class="frame-parent2">
            <div class="buttoncomp-frame">
              <div class="buttoncomp">
                <img class="add-icon" alt="" src="./public/add.svg" />

                <div class="add-to-cart">Shop Now</div>
                <img class="add-icon1" alt="" src="./public/add.svg" />
              </div>
            </div>
            <div class="buttoncomp-wrapper1">
              <div class="buttoncomp">
                <img class="add-icon" alt="" src="./public/add.svg" />

                <div class="add-to-cart">Shop Now</div>
                <img class="add-icon1" alt="" src="./public/add.svg" />
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="modiweek-frame">
        <div class="modiweek-card">
          <img
            class="modiweek-card-child"
            alt=""
            src="./public/rectangle-12349@2x.png"
          />

          <div class="frame-parent3">
            <div class="title-text-parent">
              <b class="title-text">Synqar</b>
              <div class="title-text1">title text</div>
            </div>
            <b class="title-text2">title text</b>
          </div>
          <div class="chips-component-2">
            <div class="lable-wrapper">
              <div class="lable">lable</div>
            </div>
          </div>
          <img
            class="header-favorite-icon4"
            alt=""
            src="./public/header-favorite-icon1.svg"
          />
        </div>
        <div class="modiweek-card1">
          <img
            class="modiweek-card-child"
            alt=""
            src="./public/rectangle-123491@2x.png"
          />

          <div class="frame-parent3">
            <div class="title-text-parent">
              <b class="title-text">Davlat</b>
              <div class="title-text1">title text</div>
            </div>
            <b class="title-text2">title text</b>
          </div>
          <div class="chips-component-2">
            <div class="lable-wrapper">
              <div class="lable">lable</div>
            </div>
          </div>
          <img
            class="header-favorite-icon4"
            alt=""
            src="./public/header-favorite-icon1.svg"
          />
        </div>
        <div class="modiweek-card2">
          <img
            class="modiweek-card-child"
            alt=""
            src="./public/rectangle-123492@2x.png"
          />

          <div class="frame-parent3">
            <div class="title-text-parent">
              <b class="title-text">Edige</b>
              <div class="title-text1">title text</div>
            </div>
            <b class="title-text2">title text</b>
          </div>
          <div class="chips-component-2">
            <div class="lable-wrapper">
              <div class="lable">lable</div>
            </div>
          </div>
          <img
            class="header-favorite-icon4"
            alt=""
            src="./public/header-favorite-icon1.svg"
          />
        </div>
        <div class="modiweek-card3">
          <img
            class="modiweek-card-child"
            alt=""
            src="./public/rectangle-123493@2x.png"
          />

          <div class="frame-parent3">
            <div class="title-text-parent">
              <b class="title-text">Alikhan</b>
              <div class="title-text1">title text</div>
            </div>
            <b class="title-text2">title text</b>
          </div>
          <div class="chips-component-2">
            <div class="lable-wrapper">
              <div class="lable">lable</div>
            </div>
          </div>
          <img
            class="header-favorite-icon4"
            alt=""
            src="./public/header-favorite-icon1.svg"
          />
        </div>
      </div>
      <div class="collection-pics">
        <div class="collection-pic-right">
          <button class="pic1" id="pic1">
            <div class="buttoncomp4">
              <img class="add-icon" alt="" src="./public/add1.svg" />

              <div class="add-to-cart4">Pants</div>
              <img class="add-icon" alt="" src="./public/add1.svg" />
            </div>
          </button>
          <button class="pic11" id="pic11">
            <div class="buttoncomp5">
              <img class="add-icon" alt="" src="./public/add1.svg" />

              <div class="add-to-cart4">Sweatshirt</div>
              <img class="add-icon" alt="" src="./public/add1.svg" />
            </div>
          </button>
        </div>
        <div class="collection-pic-left">
          <button class="pic2" id="pic2">
            <div class="buttoncomp6">
              <img class="add-icon" alt="" src="./public/add2.svg" />

              <div class="add-to-cart4">Hat</div>
              <img class="add-icon" alt="" src="./public/add2.svg" />
            </div>
          </button>
          <button class="pic12" id="pic12">
            <div class="buttoncomp7">
              <img class="add-icon" alt="" src="./public/add1.svg" />

              <div class="add-to-cart4">Hoodie</div>
              <img class="add-icon" alt="" src="./public/add1.svg" />
            </div>
          </button>
        </div>
      </div>
      <div class="main-item"></div>
      <div class="log-button" id="logButtonContainer">
        <div class="log-button-child"></div>
        <div class="sign-up" id="signUpText1">Sign up</div>
      </div>
      
      <div id="warniingPopup" class="popup-overlay" style="display: none">
      <div class="warniing">
        <div class="not-developed-yet">Not developed yet</div>
      </div>
    </div>

    <div id="tovarPopup" class="popup-overlay" style="display: none">
      <div class="tovar">
        <div class="logo11">
          <div class="modimal-parent9">
            <b class="modimal11">Daerbe</b>
            <img class="subtract-icon11" alt="" src="./public/subtract.svg" />
          </div>
          <div class="women-clothing11">clothing store</div>
        </div>
        <div class="tovar-inner">
          <div class="scroll-1-container">
            <img class="scroll-1-icon2" alt="" src="./public/scroll-1.svg" />

            <img
              class="frame-inner"
              alt=""
              src="./public/rectangle-123852@2x.png"
            />
          </div>
        </div>
        <div class="close2" id="popupcloseText">Close</div>
        <div class="hoodie-ebt-parent">
          <div class="hoodie-ebt">Hoodie “EBT”</div>
          <div class="a-black-hoodie">
            A black hoodie is a versatile and stylish garment that features a
            hood and a front pocket
          </div>
        </div>
        <div class="colors-container">
          <div class="colors29">colors</div>
          <div class="color-frame">
            <div class="color86"></div>
          </div>
        </div>
        <div class="frame-parent33">
          <div class="buttoncomp-wrapper4">
            <div class="buttoncomp13">
              <img class="add-icon26" alt="" src="./public/add4.svg" />

              <div class="add-to-cart13">size guide</div>
              <img class="add-icon26" alt="" src="./public/add4.svg" />
            </div>
          </div>
          <div class="buttoncomp14">
            <img class="add-icon26" alt="" src="./public/add.svg" />

            <div class="add-to-cart13">Add To Cart</div>
            <img class="add-icon26" alt="" src="./public/add.svg" />
          </div>
        </div>
        <div class="size4">
          <div class="sort-text-container">
            <div class="sort-text2">
              <b class="size5">XL</b>
            </div>
            <img class="add-icon26" alt="" src="./public/arrow-drop-down.svg" />
          </div>
          <div class="sort-sub-menu2"></div>
        </div>
        <div class="tovar-child"></div>
      </div>
    </div>

    <div id="tovar2Popup" class="popup-overlay" style="display: none">
      <div class="tovar-2">
        <div class="logo10">
          <div class="modimal-parent8">
            <b class="modimal10">Daerbe</b>
            <img class="subtract-icon10" alt="" src="./public/subtract.svg" />
          </div>
          <div class="women-clothing10">clothing store</div>
        </div>
        <div class="tovar-2-inner">
          <div class="scroll-1-group">
            <img class="scroll-1-icon1" alt="" src="./public/scroll-1.svg" />

            <img
              class="frame-item"
              alt=""
              src="./public/rectangle-123851@2x.png"
            />
          </div>
        </div>
        <button class="close1" id="popupclose">Close</button>
        <div class="sweatshirt-karagandy-parent">
          <div class="sweatshirt-karagandy">Sweatshirt “Karagandy”</div>
          <div class="is-a-trendy">
            is a trendy and comfortable wardrobe staple designed for casual
            wear.
          </div>
        </div>
        <div class="colors-group">
          <div class="colors28">colors</div>
          <div class="color-container">
            <div class="color85"></div>
          </div>
        </div>
        <div class="frame-parent32">
          <div class="buttoncomp-wrapper3">
            <div class="buttoncomp11">
              <img class="add-icon22" alt="" src="./public/add4.svg" />

              <div class="add-to-cart11">size guide</div>
              <img class="add-icon22" alt="" src="./public/add4.svg" />
            </div>
          </div>
          <div class="buttoncomp12">
            <img class="add-icon22" alt="" src="./public/add.svg" />

            <div class="add-to-cart11">Add To Cart</div>
            <img class="add-icon22" alt="" src="./public/add.svg" />
          </div>
        </div>
        <div class="size2">
          <div class="sort-text-group">
            <div class="sort-text1">
              <b class="size3">XXXL</b>
            </div>
            <img class="add-icon22" alt="" src="./public/arrow-drop-down.svg" />
          </div>
          <div class="sort-sub-menu1"></div>
        </div>
        <div class="tovar-2-child"></div>
      </div>
    </div>

    <div id="tovar3Popup" class="popup-overlay" style="display: none">
      <div class="tovar-3">
        <div class="logo9">
          <div class="modimal-parent7">
            <b class="modimal9">Daerbe</b>
            <img class="subtract-icon9" alt="" src="./public/subtract.svg" />
          </div>
          <div class="women-clothing9">clothing store</div>
        </div>
        <div class="tovar-3-inner">
          <div class="scroll-1-parent">
            <img class="scroll-1-icon" alt="" src="./public/scroll-1.svg" />

            <img
              class="frame-child"
              alt=""
              src="./public/rectangle-12385@2x.png"
            />
          </div>
        </div>
        <div class="close">Close</div>
        <div class="sweater-shymkent-parent">
          <div class="sweater-shymkent">Sweater “Shymkent”</div>
          <div class="a-black-sweater">
            A black sweater is a timeless and sophisticated piece of clothing
            that combines warmth with style.
          </div>
        </div>
        <div class="colors-parent">
          <div class="colors27">colors</div>
          <div class="color-wrapper">
            <div class="color84"></div>
          </div>
        </div>
        <div class="frame-parent31">
          <div class="buttoncomp-wrapper2">
            <div class="buttoncomp9">
              <img
                class="arrow-drop-down-icon"
                alt=""
                src="./public/add4.svg"
              />

              <div class="add-to-cart9">size guide</div>
              <img
                class="arrow-drop-down-icon"
                alt=""
                src="./public/add4.svg"
              />
            </div>
          </div>
          <div class="buttoncomp10">
            <img class="arrow-drop-down-icon" alt="" src="./public/add.svg" />

            <div class="add-to-cart9">Add To Cart</div>
            <img class="arrow-drop-down-icon" alt="" src="./public/add.svg" />
          </div>
        </div>
        <div class="size">
          <div class="sort-text-parent">
            <div class="sort-text">
              <b class="size1">m</b>
            </div>
            <img
              class="arrow-drop-down-icon"
              alt=""
              src="./public/arrow-drop-down.svg"
            />
          </div>
          <div class="sort-sub-menu"></div>
        </div>
        <div class="tovar-3-child"></div>
      </div>
    </div>

    <script>
      var popupcloseText = document.getElementById("popupcloseText");
      if (popupcloseText) {
        popupcloseText.addEventListener("click", function (e) {
          var popup = e.currentTarget.parentNode;
          function isOverlay(node) {
            return !!(
              node &&
              node.classList &&
              node.classList.contains("popup-overlay")
            );
          }
          while (popup && !isOverlay(popup)) {
            popup = popup.parentNode;
          }
          if (isOverlay(popup)) {
            popup.style.display = "none";
          }
        });
      }
      
      var popupclose = document.getElementById("popupclose");
      if (popupclose) {
        popupclose.addEventListener("click", function (e) {
          var popup = e.currentTarget.parentNode;
          function isOverlay(node) {
            return !!(
              node &&
              node.classList &&
              node.classList.contains("popup-overlay")
            );
          }
          while (popup && !isOverlay(popup)) {
            popup = popup.parentNode;
          }
          if (isOverlay(popup)) {
            popup.style.display = "none";
          }
        });
      }
      
      var collectionText1 = document.getElementById("collectionText1");
      if (collectionText1) {
        collectionText1.addEventListener("click", function () {
          var anchor = document.querySelector("[data-scroll-to='bestSellersText']");
          if (anchor) {
            anchor.scrollIntoView({ block: "start", behavior: "smooth" });
          }
        });
      }
      
      var collectionText2 = document.getElementById("collectionText2");
      if (collectionText2) {
        collectionText2.addEventListener("click", function () {
          var anchor = document.querySelector("[data-scroll-to='collectionText']");
          if (anchor) {
            anchor.scrollIntoView({ block: "start", behavior: "smooth" });
          }
        });
      }
      
      var collectionText3 = document.getElementById("collectionText3");
      if (collectionText3) {
        collectionText3.addEventListener("click", function () {
          var anchor = document.querySelector("[data-scroll-to='modelsText']");
          if (anchor) {
            anchor.scrollIntoView({ block: "start", behavior: "smooth" });
          }
        });
      }
      
      var collectionText5 = document.getElementById("collectionText5");
      if (collectionText5) {
        collectionText5.addEventListener("click", function () {
          var anchor = document.querySelector(
            "[data-scroll-to='followUsDaerbeStyle']"
          );
          if (anchor) {
            anchor.scrollIntoView({ block: "start", behavior: "smooth" });
          }
        });
      }
      
      var person4 = document.getElementById("person4");
      if (person4) {
        person4.addEventListener("click", function () {
          var popup = document.getElementById("warniingPopup");
          if (!popup) return;
          var popupStyle = popup.style;
          if (popupStyle) {
            popupStyle.display = "flex";
            popupStyle.zIndex = 100;
            popupStyle.backgroundColor = "";
            popupStyle.alignItems = "flex-end";
            popupStyle.justifyContent = "flex-end";
          }
          popup.setAttribute("closable", "");
      
          var onClick =
            popup.onClick ||
            function (e) {
              if (e.target === popup && popup.hasAttribute("closable")) {
                popupStyle.display = "none";
              }
            };
          popup.addEventListener("click", onClick);
        });
      }
      
      var favorite = document.getElementById("favorite");
      if (favorite) {
        favorite.addEventListener("click", function () {
          var popup = document.getElementById("warniingPopup");
          if (!popup) return;
          var popupStyle = popup.style;
          if (popupStyle) {
            popupStyle.display = "flex";
            popupStyle.zIndex = 100;
            popupStyle.backgroundColor = "";
            popupStyle.alignItems = "flex-end";
            popupStyle.justifyContent = "flex-end";
          }
          popup.setAttribute("closable", "");
      
          var onClick =
            popup.onClick ||
            function (e) {
              if (e.target === popup && popup.hasAttribute("closable")) {
                popupStyle.display = "none";
              }
            };
          popup.addEventListener("click", onClick);
        });
      }
      
      var shoppingBag = document.getElementById("shoppingBag");
      if (shoppingBag) {
        shoppingBag.addEventListener("click", function () {
          var popup = document.getElementById("warniingPopup");
          if (!popup) return;
          var popupStyle = popup.style;
          if (popupStyle) {
            popupStyle.display = "flex";
            popupStyle.zIndex = 100;
            popupStyle.backgroundColor = "";
            popupStyle.alignItems = "flex-end";
            popupStyle.justifyContent = "flex-end";
          }
          popup.setAttribute("closable", "");
      
          var onClick =
            popup.onClick ||
            function (e) {
              if (e.target === popup && popup.hasAttribute("closable")) {
                popupStyle.display = "none";
              }
            };
          popup.addEventListener("click", onClick);
        });
      }
      
      var productCardContainer = document.getElementById("productCardContainer");
      if (productCardContainer) {
        productCardContainer.addEventListener("click", function () {
          var popup = document.getElementById("tovarPopup");
          if (!popup) return;
          var popupStyle = popup.style;
          if (popupStyle) {
            popupStyle.display = "flex";
            popupStyle.zIndex = 100;
            popupStyle.backgroundColor = "";
            popupStyle.alignItems = "center";
            popupStyle.justifyContent = "center";
          }
          popup.setAttribute("closable", "");
      
          var onClick =
            popup.onClick ||
            function (e) {
              if (e.target === popup && popup.hasAttribute("closable")) {
                popupStyle.display = "none";
              }
            };
          popup.addEventListener("click", onClick);
        });
      }
      
      var productCardContainer1 = document.getElementById("productCardContainer1");
      if (productCardContainer1) {
        productCardContainer1.addEventListener("click", function () {
          var popup = document.getElementById("tovar2Popup");
          if (!popup) return;
          var popupStyle = popup.style;
          if (popupStyle) {
            popupStyle.display = "flex";
            popupStyle.zIndex = 100;
            popupStyle.backgroundColor = "rgba(113, 113, 113, 0.3)";
            popupStyle.alignItems = "center";
            popupStyle.justifyContent = "center";
          }
          popup.setAttribute("closable", "");
      
          var onClick =
            popup.onClick ||
            function (e) {
              if (e.target === popup && popup.hasAttribute("closable")) {
                popupStyle.display = "none";
              }
            };
          popup.addEventListener("click", onClick);
        });
      }
      
      var productCardContainer2 = document.getElementById("productCardContainer2");
      if (productCardContainer2) {
        productCardContainer2.addEventListener("click", function () {
          var popup = document.getElementById("tovar3Popup");
          if (!popup) return;
          var popupStyle = popup.style;
          if (popupStyle) {
            popupStyle.display = "flex";
            popupStyle.zIndex = 100;
            popupStyle.backgroundColor = "rgba(113, 113, 113, 0.3)";
            popupStyle.alignItems = "center";
            popupStyle.justifyContent = "center";
          }
          popup.setAttribute("closable", "");
      
          var onClick =
            popup.onClick ||
            function (e) {
              if (e.target === popup && popup.hasAttribute("closable")) {
                popupStyle.display = "none";
              }
            };
          popup.addEventListener("click", onClick);
        });
      }
      
      var pic1 = document.getElementById("pic1");
      if (pic1) {
        pic1.addEventListener("click", function (e) {
          window.location.href = "./Pants.html";
        });
      }
      
      var pic11 = document.getElementById("pic11");
      if (pic11) {
        pic11.addEventListener("click", function (e) {
          window.location.href = "./Sweat.html";
        });
      }
      
      var pic2 = document.getElementById("pic2");
      if (pic2) {
        pic2.addEventListener("click", function (e) {
          window.location.href = "./Hats.html";
        });
      }
      
      var pic12 = document.getElementById("pic12");
      if (pic12) {
        pic12.addEventListener("click", function (e) {
          window.location.href = "./Hoodie.html";
        });
      }
      
      var signUpText1 = document.getElementById("signUpText1");
      if (signUpText1) {
        signUpText1.addEventListener("click", function () {
          var anchor = document.querySelector(
            "[data-scroll-to='followUsDaerbeStyle']"
          );
          if (anchor) {
            anchor.scrollIntoView({ block: "start", behavior: "smooth" });
          }
        });
      }
      
      var logButtonContainer = document.getElementById("logButtonContainer");
      if (logButtonContainer) {
        logButtonContainer.addEventListener("click", function () {
          window.location.href = "./login_page.html";
        });
      }
      </script>
  </body>
</html>
