<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="initial-scale=1, width=device-width" />

    <link rel="stylesheet" href="./global.css" />
    <link rel="stylesheet" href="./Pants.css" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=League Spartan:wght@400;700&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Bebas Neue:wght@400&display=swap"
    />
  </head>
  <body>
    <div class="pants">
      <div class="best-seller-cards3">
        <div class="product-card9">
          <div class="frame-parent13">
            <button class="tailored-stretch-parent6">
              <b class="tailored-stretch9">Pants</b>
              <div class="turn-it-up9">ekibastuz style</div>
              <div class="colors9">
                <div class="color27"></div>
                <div class="color28"></div>
                <div class="color29"></div>
              </div>
            </button>
            <div class="wrapper7">
              <b class="b9">$70</b>
            </div>
          </div>
          <button class="product-card-child6"></button>
          <div class="chips-component-19">
            <div class="lable-wrapper11">
              <div class="lable13">new</div>
            </div>
          </div>
          <img
            class="header-favorite-icon15"
            alt=""
            src="./public/header-favorite-icon1.svg"
          />
        </div>
        <div class="product-card10">
          <div class="frame-parent13">
            <button class="tailored-stretch-parent7">
              <b class="tailored-stretch10">Pants</b>
              <div class="turn-it-up10">Look hot</div>
              <div class="colors9">
                <div class="color30"></div>
                <div class="color31"></div>
                <div class="color32"></div>
              </div>
            </button>
            <div class="wrapper7">
              <b class="b10">$40</b>
            </div>
          </div>
          <button class="product-card-child7"></button>
          <div class="chips-component-19">
            <div class="lable-wrapper11">
              <div class="lable13">new</div>
            </div>
          </div>
          <img
            class="header-favorite-icon15"
            alt=""
            src="./public/header-favorite-icon1.svg"
          />
        </div>
        <div class="product-card11">
          <div class="frame-parent13">
            <button class="tailored-stretch-parent6">
              <b class="tailored-stretch9">Pants</b>
              <div class="turn-it-up10">Fits anyone</div>
              <div class="colors9">
                <div class="color33"></div>
                <div class="color30"></div>
                <div class="color35"></div>
              </div>
            </button>
            <div class="wrapper7">
              <b class="b11">$270</b>
            </div>
          </div>
          <button class="product-card-child8"></button>
          <div class="chips-component-19">
            <div class="lable-wrapper11">
              <div class="lable13">new</div>
            </div>
          </div>
          <img
            class="header-favorite-icon15"
            alt=""
            src="./public/header-favorite-icon1.svg"
          />
        </div>
        <div class="color36"></div>
      </div>
      <div class="best-seller-cards4">
        <div class="product-card9">
          <div class="frame-parent13">
            <button class="tailored-stretch-parent6">
              <b class="tailored-stretch9">Pants</b>
              <div class="turn-it-up9">ekibastuz style</div>
              <div class="colors9">
                <div class="color37"></div>
                <div class="color28"></div>
                <div class="color29"></div>
              </div>
            </button>
            <div class="wrapper7">
              <b class="b9">$70</b>
            </div>
          </div>
          <button class="product-card-child9"></button>
          <div class="chips-component-19">
            <div class="lable-wrapper11">
              <div class="lable13">new</div>
            </div>
          </div>
          <img
            class="header-favorite-icon15"
            alt=""
            src="./public/header-favorite-icon1.svg"
          />
        </div>
        <div class="product-card10">
          <div class="frame-parent13">
            <button class="tailored-stretch-parent7">
              <b class="tailored-stretch10">Pants</b>
              <div class="turn-it-up10">Look hot</div>
              <div class="colors9">
                <div class="color30"></div>
                <div class="color41"></div>
                <div class="color32"></div>
              </div>
            </button>
            <div class="wrapper7">
              <b class="b10">$40</b>
            </div>
          </div>
          <button class="product-card-child10"></button>
          <div class="chips-component-19">
            <div class="lable-wrapper11">
              <div class="lable13">new</div>
            </div>
          </div>
          <img
            class="header-favorite-icon15"
            alt=""
            src="./public/header-favorite-icon1.svg"
          />
        </div>
        <div class="product-card11">
          <div class="frame-parent13">
            <button class="tailored-stretch-parent6">
              <b class="tailored-stretch9">Pants</b>
              <div class="turn-it-up10">Fits anyone</div>
              <div class="colors9">
                <div class="color33"></div>
                <div class="color30"></div>
                <div class="color45"></div>
              </div>
            </button>
            <div class="wrapper7">
              <b class="b11">$270</b>
            </div>
          </div>
          <button class="product-card-child11"></button>
          <div class="chips-component-19">
            <div class="lable-wrapper11">
              <div class="lable13">new</div>
            </div>
          </div>
          <img
            class="header-favorite-icon15"
            alt=""
            src="./public/header-favorite-icon1.svg"
          />
        </div>
      </div>
      <div class="header2">
        <div class="hgreen-line2">
          <div class="text2"></div>
        </div>
        <div class="enjoy-free-shipping2">choose style - choose us</div>
        <div class="header-footer-texts-container">
          <div class="header-footer-texts10">
            <div class="collection11" id="collectionText">Best sellers</div>
          </div>
          <div class="header-footer-texts11">
            <div class="collection12" id="collectionText1">Collection</div>
          </div>
          <div class="header-footer-texts11">
            <div class="collection13" id="collectionText2">Modiweek</div>
          </div>
          <div class="header-footer-texts10">
            <div class="collection14">Plus Size</div>
          </div>
          <div class="header-footer-texts14">
            <div class="collection15" id="collectionText4">about us</div>
          </div>
        </div>
        <div class="header-search-icon-container">
          <img
            class="header-search-icon2"
            alt=""
            src="./public/header-search-icon.svg"
          />

          <div class="header-profile-icon2">
            <img class="person-4-icon3" alt="" src="./public/person-41.svg" />
          </div>
          <img
            class="header-favorite-icon21"
            alt=""
            src="./public/header-favorite-icon.svg"
          />

          <div class="header-bag-icon2">
            <img
              class="person-4-icon3"
              alt=""
              src="./public/shopping-bag.svg"
            />
          </div>
        </div>
        <div class="logo3">
          <div class="modimal-parent1">
            <b class="modimal3">Daerbe</b>
            <img class="subtract-icon3" alt="" src="./public/subtract.svg" />
          </div>
          <div class="women-clothing3">clothing store</div>
        </div>
      </div>
      <div class="logo4">
        <div class="modimal-parent1">
          <b class="modimal3">Daerbe</b>
          <img class="subtract-icon3" alt="" src="./public/subtract.svg" />
        </div>
        <div class="women-clothing3">clothing store</div>
      </div>
      <div class="pants-child"></div>
      <div class="pants1">Pants</div>
      <img
        class="pants-item"
        alt=""
        src="./public/arrow-1.svg"
        id="arrowIcon"
      />
    </div>

    <script>
      var collectionText = document.getElementById("collectionText");
      if (collectionText) {
        collectionText.addEventListener("click", function () {
          var anchor = document.querySelector("[data-scroll-to='bestSellersText']");
          if (anchor) {
            anchor.scrollIntoView({ block: "start", behavior: "smooth" });
          }
        });
      }
      
      var collectionText1 = document.getElementById("collectionText1");
      if (collectionText1) {
        collectionText1.addEventListener("click", function () {
          var anchor = document.querySelector("[data-scroll-to='collectionText']");
          if (anchor) {
            anchor.scrollIntoView({ block: "start", behavior: "smooth" });
          }
        });
      }
      
      var collectionText2 = document.getElementById("collectionText2");
      if (collectionText2) {
        collectionText2.addEventListener("click", function () {
          var anchor = document.querySelector("[data-scroll-to='modelsText']");
          if (anchor) {
            anchor.scrollIntoView({ block: "start", behavior: "smooth" });
          }
        });
      }
      
      var collectionText4 = document.getElementById("collectionText4");
      if (collectionText4) {
        collectionText4.addEventListener("click", function () {
          var anchor = document.querySelector(
            "[data-scroll-to='followUsDaerbeStyle']"
          );
          if (anchor) {
            anchor.scrollIntoView({ block: "start", behavior: "smooth" });
          }
        });
      }
      
      var arrowIcon = document.getElementById("arrowIcon");
      if (arrowIcon) {
        arrowIcon.addEventListener("click", function (e) {
          window.location.href = "./Main.html";
        });
      }
      </script>
  </body>
</html>
